<% layout('./layout/registration') -%>
<% block('title', 'Вход'); -%>
<form action="register-user" method="POST">
    <input type="text" name="first_name" placeholder="First name" required="">
    <input type="text" name="last_name" placeholder="Last name" required="">
    <input type="email" name="user" placeholder="your@mail.here" required="">
    <input type="password" name="password" placeholder="password" required="">
    <input type="submit" value="login">
</form>
